body {
    overflow: hidden;
    background-color: #f0f0f0; /* Light gray background */
}

.title {
    text-align: center;
    margin: 0 0 30px 0;
}

.title h1 {
    margin: 0 auto;
    padding: 10px;
    background-color: #6a6a6a; /* Darker gray */
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    border-radius: 15px;
}

.meteo {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
}

.meteo img {
    width: 40px;
    height: 40px;
}

.meteo>#bandeau {
    text-align: center;
    text-decoration-color: #dddddd;
    background-color: #6a6a6a;
}

.time-info {
    transform: translateX(100%);
    opacity: 0;
    background-color: #c0c0c0; 
    border: 1px solid #ddd;
    padding: 10px;
    transition: 0.5s;
    width: 200px;
    z-index:3;
}

.meteo:hover .time-info {
    transform: translateX(0);
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.legend {
    width: 200px;
    height: 400px;
    padding: 0;
    margin: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px black;
    background-color: #f9fafb; /* Lighter background */
}

.legend h3 {
    border-top-left-radius: 15px;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #6a6a6a; /* Darker gray */
    border-bottom: solid 1px black;
}

.items {
    overflow-y: scroll;
    height: 355px;
    border-bottom-left-radius: 15px;
    background-color: #6a6a6a; /* Darker gray */
}

.legend-item {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #c0c0c0; /* Light gray */
}

.legend-item img {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.legend-item span {
    font-size: 20px;
}

#map {
    width: 600px;
    height: 400px;
    background-color: #c0c0c0; /* Light gray */
    z-index: 1;
    border-top-right-radius: 15px;
}

